html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.header-tab {
    height: 10vh;
    border-radius: 1vh;
    margin-top: 0.5vh;
    background-color: white;
}

.menu-tab {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
}

.button {
    width: auto;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 2%;
    border-radius: 1em;
}

.main-tab {
    height: 90vh;
    margin-top: 0.5vh;
    background: white;
}

.picture-tab {
    padding: 2.5%;
    height: 95%;
    width: 95%;
}


.title-tab {
    background-color: rgba(0, 0, 0, 0.2);
    height: 30%;
    width: 100%;
    left: 50%;
    top: 85%;
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 2em;

}

.title-text {
    width: 100%;
    height: 100%;
    text-align: center;
}

.title-scroll-left {}

.title-scroll-right {}

.picture {
    height: 90%;
    width: 90%;
    background: rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 2em;
}

.text {
    height: 90%;
    width: 94%;
    background: rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 2em;
}

.summary-tab {
    height: 100vh;
    background: white;
}

.summary-aboutme {
    height: 33.3333%;

    margin-top: 0.5vh;
}

.picture-aboutme {
    width: 40%;
    float: left;
    height: 100%;
}

.text-aboutme {
    width: 60%;
    float: right;
    height: 100%;
}

.summary-projects {
    height: 33.3333%;
    margin-top: 0.5vh;
}

.picture-projects {
    width: 40%;
    height: 100%;
    float: right;
}

.text-projects {
    width: 60%;
    float: left;
    height: 100%;
}

.summary-friends-cont {
    height: 33.3333%;
    margin-top: 0.5vh;
}

.picture-friends-cont {
    width: 40%;
    height: 100%;
    float: left;
}

.text-friends-cont {
    width: 60%;
    height: 100%;
    float: right;
}

.footer-tab {
    height: 20vh;
    margin-top: 0.5vh;
    background: white;
}

.footer-content {
    height: 100%;


}

.footer-wrap {
    height: 80%;
    width: 80%;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 2em;
}

.text-footer {
    height: 100%;
    width: 60%;
    float: left;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2em;
}

.picture-footer {
    height: 100%;
    width: 30%;
    float: right;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    padding: 2%;
    box-sizing: border-box;
}